<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="content pure-g" >
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="pure-u pure-g column">
			<p> This is the appointments page. This is still a WIP</p>
			
			<table class="fullWidth pure-table pure-table-horizontal">
				<thead>
					<tr>
						<th>ID</th>
						<th>Client ID</th>
						<th>Pet ID</th>
						<th>Appointment Date</th>
						<th>Appointment Time</th>
						<th>Reason for Visit</th>
					</tr>
				</thead>
				<tbody>	
				</tbody>
			</table>

		</div>
    </div>
</body>
</html>

